/*MARK: Основные стили
*/
.hover:hover {
    opacity: 0.7;
}

.active-link {
    background-color: #0084FF;
    color: white !important;
    padding: 0 15px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 !important;
}

.active-icon {
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.active-profile {
    text-decoration: underline;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.right {
    justify-content: flex-end;
}

.margin-right80 {
    margin-right: 80px;
}

.margin-left80 {
    margin-left: 80px;
}

.margin15 {
    margin: 15px;
}

.margin10 {
    margin: 10px;
}

.margin5 {
    margin: 5px;
}

/*MARK: Стили для всех страниц
*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
}

li a {
    display: flex;      
    align-items: center; 
    height: 50px;
    margin: 0 15px;
}

ul {
    list-style-type: none;
}

nav {
    width: 100%; 
    height: 50px;
    margin-top: 10px;
}

.admin-input {
    width: 400px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 7px;
    text-align: center;
}

.admin-button {
    width: 80px;
    height: 30px;

    border: 2px solid #000000;
    border-radius: 86px;
}


header, footer {        
    width: 100%;
}

.header-content {
    width: 100%;
    height: 100px;
    background: #0084FF;
    color: white;
}

header a {
    color: white;
}

main {
    min-height: 795px;
}


.footer {
    width: 100%;
    background: #0084FF;
    height: 400px;
}

footer h3, footer p {
    color: white;
    margin: 0;
}